<!-- <div *ngIf="isActive">
    <a href={{wechatRedirectPath}}>直接跳转到微信提供的网页</a>
</div> -->

<div *ngIf="isActive">
    
    <div style="height: 100px">

    </div>

    <h1> ltvision123.com 个人摄影网站正在建设中... </h1>

    <div style="height: 100px">

        </div>

    
    <!-- <div class="button-sp-area">
        <button weui-button (click)=onClickWechatLogin()>微信登录</button>
    </div>

    <div style="height: 100px">

    </div>
    <div class="button-sp-area">
        <button weui-button (click)=onClickMockWechatLogin()>模拟微信登录</button>
    </div>

    <div style="height: 100px">
    </div> -->

    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="http://www.miitbeian.gov.cn" class="weui-footer__link">蜀ICP备19018673号</a>
        </p>
        <p class="weui-footer__text">
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=30155945581142279"> 蜀ICP备19018673号-1 </a>
        </p>
    </div>

    <div style="height: 100px">

    </div>

    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="" class="weui-footer__link">版权著作权归个人所有 2019-2020</a>
        </p>

    </div>

</div>